/* ESTILOS GLOBALES */

.oculto{display: none !important;}
.cabecera{}
.menu{left:-100%; position:fixed; top: 44px !important; z-index: 100 !important;}
.relativo{position: relative !important; top:5% !important; z-index: 10 !important;}
.r_content{position: relative !important ; top:44px !important ;}
.center_horizontal{margin-top: 10%; min-height: 400px;}
.menu , .menu li{ background-color: rgba(0,0,0,0.3) !important; color: #FFF;}